* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(5, 18, 41);
}

#blob {
    background: linear-gradient(to right, aquamarine, mediumpurple);
    height: 200px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 20s infinite;
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(100px);
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}